.square_btn {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
}

.square_btn:hover {
    background: #67c5ff;
    color: white;
    text-decoration: none;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);

}

@font-face {
  font-family: 'batman';
  src: url(../font/batmfa__.ttf) format("truetype");
}

body{
	font-family: batman;
	font-size: 16px;
	}	/* General styles for all menus */
.cbp-spmenu {
background: rgb(2, 7, 31);
	position: fixed;
	font-family: Iceland;
	font-size: 18px;
}

.cbp-spmenu h3 {
	color: white;
	font-size: 1.2em;
	padding: 20px;
	margin: 0;
	font-weight: 300;
	background: #0d77b6;
	text-decoration:none;

}

.cbp-spmenu a {
	display: block;
	color: #fff;
	font-size: 1.1em;
	font-weight: 300;
	text-decoration: none;
}

.cbp-spmenu a:hover {
	color: #fff;
	text-indent: 1em;
	background: rgba(22, 30, 95, 0.69);
    transition: .35s ease-in-out;
    -webkit-transition: .55s ease-in-out;
    -moz-transition: .35s ease-in-out;
    text-decoration: none;

}

.cbp-spmenu a:active {
	background: #afdefa;
	color: #47a3da;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 240px;
	height: 100%;
	top: 0;
	z-index: 1000;
}

.cbp-spmenu-vertical a {
	border-bottom: 1px solid #53718480;
	padding: 0.4em;
text-indent: 0.5em;
}

.cbp-spmenu-horizontal {
	width: 100%;
	height: 150px;
	left: 0;
	z-index: 1000;
	overflow: hidden;
}

.cbp-spmenu-horizontal h3 {
	height: 100%;
	width: 20%;
	float: left;
}

.cbp-spmenu-horizontal a {
	float: left;
	width: 20%;
	padding: 0.8em;
	border-left: 1px solid #258ecd;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
	left: -240px;
}

.cbp-spmenu-right {
	right: -240px;
}

.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
	right: 0px;
}

/* Horizontal menu that slides from the top or bottom */

.cbp-spmenu-top {
	top: -150px;
}

.cbp-spmenu-bottom {
	bottom: -150px;
}

.cbp-spmenu-top.cbp-spmenu-open {
	top: 0px;
}

.cbp-spmenu-bottom.cbp-spmenu-open {
	bottom: 0px;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.cbp-spmenu-push-toright {
	left: 240px;
}

.cbp-spmenu-push-toleft {
	left: -240px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	transition-delay: 0.2s;
}

.sign-in-btn
{
	position:fixed;
	top: 3%;
	right: 3%;
	z-index: 4;
	color: #fff;
}
/* Example media queries */

@media screen and (max-width: 600px){

.hamburger
{
  display: none;
}
.sign-in-btn{
  display: none;
}
.cbp-spmenu{
  display: none;
}
.top_frame{
  display: none;
}
.bottom_frame{
  display: none;
}

	.cbp-spmenu-horizontal {
		font-size: 75%;
		height: 110px;
	}

	.cbp-spmenu-top {
		top: -110px;
	}

	.cbp-spmenu-bottom {
		bottom: -110px;
	}
.cbp-spmenu {
background: rgba(1,14,10,.9);	position: fixed;
}

}

@media screen and (max-height: 26.375em){

	.cbp-spmenu-vertical {
		font-size: 90%;
		width: 190px;
	}

	.cbp-spmenu-left,
	.cbp-spmenu-push-toleft {
		left: -190px;
	}

	.cbp-spmenu-right {
		right: -190px;
	}

	.cbp-spmenu-push-toright {
		left: 190px;
	}
}

.hamburger
{
	position: absolute;
	top: 2%;
	left: 3%;
	color: #fff;
}
.circle {
    padding: 10px 10px;
    width: 40px;
    font-size: 20px;
    text-align: center;
    background: #fff;
    border-radius: 20px;
}

.fa-ix{font-size:1.7em}
       .fa-mx{font-size: 2.5em; }
      
       @media only screen and (max-width: 600px) {
         .fa-ix{font-size:1em}
         .fa-mx{font-size:2.5em}
       }
