.sci-Fi {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #000;
  color: #fff;
}
.sci-Fi > h1 {
  font-family: "Orbitron", sans-serif;
  font-size: 40px;
  font-weight: normal;
  letter-spacing: 0.5rem;
}
.char {
  color: #fff;
  transition: color ease-out 0.3s, text-shadow ease-out 0.3s;
  text-shadow: 0 0 4rem #fff;
}
.char.fade-in {
  color: #0cf;
  transition: color ease-out 0.3s, text-shadow ease-out 0.3s;
  text-shadow: 0 0 1rem #0cf;
}
@media only screen and (max-width: 768px) {
.sci-Fi > h1 {
  font-family: "Orbitron", sans-serif;
  font-size: 100%;
  font-weight: normal;
   }
}